name: Build service

on:
    push:
        branches: [master, release]
    pull_request:
        branches: [master, release]
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repo
              uses: actions/checkout@v2

            - name: Setup Node.js
              uses: actions/setup-node@v1
              with:
                  node-version: '14'

            - name: Install dependencies
              run: yarn

            - name: Run tests
              run: yarn test

            - name: Create bundle
              run: yarn dist

            - name: Upload dist
              uses: actions/upload-artifact@v2
              with:
                  name: dist
                  path: dist
